<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--扫描包开启注解-->
    <context:component-scan base-package="com.igeek.service,com.igeek.redis"></context:component-scan>
    <!--Jedis连接池配置对象-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="minIdle" value="5"></property>
        <property name="maxTotal" value="50"></property>
        <property name="maxIdle" value="10"></property>
    </bean>
    <!--Jedis连接工厂-->
    <bean id="jedisFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!--注入配置对象-->
        <property name="poolConfig" ref="poolConfig"></property>
        <!--配置连接的主机-->
        <property name="hostName" value="192.168.26.128"></property>
        <!--配置端口-->
        <property name="port" value="6379"></property>
        <!--开启连接池-->
        <property name="usePool" value="true"></property>
    </bean>
    <!--配置RedisTemplate-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <!--注入连接工厂-->
        <property name="connectionFactory" ref="jedisFactory" />
        <!--配置序列化器，用于对读写至redis中的数据进行序列化-->
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
        </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
        </property>
        <property name="hashKeySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
        </property>
        <property name="hashValueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
        </property>
        <!--开启事务  -->
        <property name="enableTransactionSupport" value="true"></property>
    </bean>

    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="initialSize" value="10"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxActive" value="50"></property>
    </bean>
    <!--配置SqlSessionFactory用于替换MyBatis中原生的SqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事务拦截器（事务通知）-->
    <!--需要注入事务管理器-->
    <tx:advice id="transactionInterceptor" transaction-manager="transactionManager">
        <!--配置事务的隔离性和传播行为-->
        <tx:attributes>
            <!--name表示要作用事务的方法名-->
            <!--isolation设置事务的隔离级别-->
            <!--propagation设置事务的传播性-->
            <tx:method name="find*" isolation="READ_COMMITTED" propagation="REQUIRED"></tx:method>
            <tx:method name="modify*" isolation="DEFAULT" propagation="REQUIRED"></tx:method>
            <tx:method name="update*"></tx:method>
            <tx:method name="insert*"></tx:method>
            <tx:method name="add*"></tx:method>
            <tx:method name="save*"></tx:method>
            <tx:method name="delete*"></tx:method>
        </tx:attributes>
    </tx:advice>
    <!--配置事务的AOP切入-->
    <aop:config>
        <aop:pointcut id="transactionPoint" expression="execution(* com.igeek.service.*.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="transactionInterceptor" pointcut-ref="transactionPoint"></aop:advisor>
    </aop:config>
    <!--配置MyBatis生成DAO实例的扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.igeek.dao"></property>
    </bean>
</beans>
